<!DOCTYPE html>
<html>
<head>
    <title>News</title>
    <style>
        body { font-family: Arial; background:#fff3e0; }
        .box {
            width: 80%;
            margin: 40px auto;
            background: white;
            padding: 20px;
            border-radius: 6px;
        }
        h1 { text-align: center; }
        p { line-height: 1.6; }
        a { margin-right: 15px; text-decoration: none; font-weight: bold; }
    </style>
</head>
<body>

<div class="box">
    <a href="/">Home</a>
    <a href="/movies/">Movies</a>
    <a href="/shows/">Shows</a>

    <h1>Latest News</h1>
    <p>New movies releasing this month.</p>
    <p> Popular web series trending worldwide.</p>
    <p> Entertainment industry updates.</p>
</div>

</body>
</html>
